

<footer class="border-top footer text-muted mt-3 mb-3" style="position: absolute; bottom: 0; width: 100%;">
    <div class="container">
        &copy; @DateTime.Now.Year - LibraryManagementApp - Mushaf Akkaya <a asp-area="" asp-controller="Home" asp-action="About">Hakkında</a>
    </div>
</footer>