@model LibraryManagementApp.Models.BookAddViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Yeni Kitap Ekle</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorFirstName" class="control-label">Yazar Adı</label>
                <input asp-for="AuthorFirstName" class="form-control" />
                <span asp-validation-for="AuthorFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorLastName" class="control-label">Yazar Soyadı</label>
                <input asp-for="AuthorLastName" class="form-control" />
                <span asp-validation-for="AuthorLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishDate" class="control-label"></label>
                <input asp-for="PublishDate" class="form-control" type="date" />
            </div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CopiesAvailable" class="control-label"></label>
                <input asp-for="CopiesAvailable" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-primary" />
                <a asp-action="List" class="btn btn-secondary">İptal</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>
